<div>
  <div>
    <div class="flex gap-2 flex-col">
      <!-- Showing data from parent-->
      <div class="text-[#333333] p-3 border-2 border-[#CCCCCC] ">
        Data form parent will show here:<span class="font-medium">{{data ? data: 'Waiting'}}</span>
      </div>
      <!-- Button for sending data to parent -->
      <div class="p-3 border-2 border-[#CCCCCC]">

        <button
          type="button"
          class="focus:outline-none bg-[#50E3C2] hover:bg-[#3DC4A6]  font-medium rounded-md text-sm text-[#333333] p-2"
          (click)="sendingToParent()">
          Send Data to Parent
        </button>
      </div>
    </div>

  </div>

</div>
